<!DOCTYPE html>
<!-- Fuck that shit, low effort it is! I'm a Coder, not a Webdev nor a fucking Web Designer. If you expect any CSS you've come to the wrong place-->
<!-- Lets have a little throwback to the early stages of the Internet, shall we?-->
<html>

	<head>
		<title>Ticketmaster Landing Page</title>
		<link rel="stylesheet" href="w3schools31.css">
		<base href="http://localhost:8080/">
	</head>

	<body>
		<h1>Ticketmaster</h1>
		<div id="indexButtons">
			<button type="button" onclick="location.href='login';">Login</button>
			<button type="button" onclick="location.href='register';">Register</button>
		</div>
	</body>
</html>
